<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3>Sign up</h3>
    <p><i><font color="red">*</font> (Denotes Required Field)</i></p>
    <br/>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name %><i><font color="red">*</font></i>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %><i><font color="red">*</font></i>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_area :address, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :postal_code %>
      <%= f.text_field :postal_code, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :country %><i><font color="red">*</font></i>
      <br/>
      <%= f.select :country,
      ["Thailand",
      ["-------------------------------------------------", :disabled => 1],
      "Andorra",
			"United Arab Emirates",
			"Afghanistan",
			"Antigua and Barbuda",
			"Anguilla",
			"Albania",
			"Armenia",
			"Netherlands Antilles",
			"Angola",
			"Antarctica",
			"Argentina",
			"American Samoa",
			"Austria",
			"Australia",
			"Aruba",
			"Aland Islands",
			"Azerbaijan",
			"Bosnia and Herzegovina",
			"Barbados",
			"Bangladesh",
			"Belgium",
			"Burkina Faso",
			"Bulgaria",
			"Bahrain",
			"Burundi",
			"Benin",
			"Saint Barthélemy",
			"Bermuda",
			"Brunei",
			"Bolivia",
			"British Antarctic Territory",
			"Brazil",
			"Bahamas",
			"Bhutan",
			"Bouvet Island",
			"Botswana",
			"Belarus",
			"Belize",
			"Canada",
			"Cocos Islands",
			"Congo - Kinshasa",
			"Central African Republic",
			"Congo - Brazzaville",
			"Switzerland",
			"Ivory Coast",
			"Cook Islands",
			"Chile",
			"Cameroon",
			"China",
			"Colombia",
			"Costa Rica",
			"Serbia and Montenegro",
			"Canton and Enderbury Islands",
			"Cuba",
			"Cape Verde",
			"Christmas Island",
			"Cyprus",
			"Czech Republic",
			"East Germany",
			"Germany",
			"Djibouti",
			"Denmark",
			"Dominica",
			"Dominican Republic",
			"Algeria",
			"Ecuador",
			"Estonia",
			"Egypt",
			"Western Sahara",
			"Eritrea",
			"Spain",
			"Ethiopia",
			"Finland",
			"Fiji",
			"Falkland Islands",
			"Micronesia",
			"Faroe Islands",
			"French Southern and Antarctic Territories",
			"France",
			"Metropolitan France",
			"Gabon",
			"United Kingdom",
			"Grenada",
			"Georgia",
			"French Guiana",
			"Guernsey",
			"Ghana",
			"Gibraltar",
			"Greenland",
			"Gambia",
			"Guinea",
			"Guadeloupe",
			"Equatorial Guinea",
			"Greece",
			"South Georgia and the South Sandwich Islands",
			"Guatemala",
			"Guam",
			"Guinea-Bissau",
			"Guyana",
			"Hong Kong SAR China",
			"Hong Kong",
			"Heard Island and McDonald Islands",
			"Honduras",
			"Croatia",
			"Haiti",
			"Hungary",
			"Indonesia",
			"Ireland",
			"Israel",
			"Isle of Man",
			"India",
			"British Indian Ocean Territory",
			"Iraq",
			"Iran",
			"Iceland",
			"Italy",
			"Jersey",
			"Jamaica",
			"Jordan",
			"Japan",
			"Johnston Island",
			"Kenya",
			"Kyrgyzstan",
			"Cambodia",
			"Kiribati",
			"Comoros",
			"Saint Kitts and Nevis",
			"North Korea",
			"South Korea",
			"Kuwait",
			"Cayman Islands",
			"Kazakhstan",
			"Laos",
			"Lebanon",
			"Saint Lucia",
			"Liechtenstein",
			"Sri Lanka",
			"Liberia",
			"Lesotho",
			"Lithuania",
			"Luxembourg",
			"Latvia",
			"Libya",
			"Morocco",
			"Monaco",
			"Moldova",
			"Montenegro",
			"Saint Martin",
			"Madagascar",
			"Marshall Islands",
			"Midway Islands",
			"Macedonia",
			"Mali",
			"Myanmar",
			"Mongolia",
			"Macau SAR China",
			"Macau",
			"Northern Mariana Islands",
			"Martinique",
			"Mauritania",
			"Montserrat",
			"Malta",
			"Mauritius",
			"Maldives",
			"Malawi",
			"Mexico",
			"Malaysia",
			"Mozambique",
			"Namibia",
			"New Caledonia",
			"Niger",
			"Norfolk Island",
			"Nigeria",
			"Nicaragua",
			"Netherlands",
			"Norway",
			"Nepal",
			"Dronning Maud Land",
			"Nauru",
			"Neutral Zone",
			"Niue",
			"New Zealand",
			"Oman",
			"Panama",
			"Pacific Islands Trust Territory",
			"Peru",
			"French Polynesia",
			"Papua New Guinea",
			"Philippines",
			"Pakistan",
			"Poland",
			"Saint Pierre and Miquelon",
			"Pitcairn",
			"Puerto Rico",
			"Palestinian Territory",
			"Portugal",
			"U.S. Miscellaneous Pacific Islands",
			"Palau",
			"Paraguay",
			"Panama Canal Zone",
			"Qatar",
			"Outlying Oceania",
			"European Union",
			"Reunion",
			"Romania",
			"Serbia",
			"Russia",
			"Rwanda",
			"Saudi Arabia",
			"Solomon Islands",
			"Seychelles",
			"Sudan",
			"Sweden",
			"Singapore",
			"Saint Helena",
			"Slovenia",
			"Svalbard and Jan Mayen",
			"Slovakia",
			"Sierra Leone",
			"San Marino",
			"Senegal",
			"Somalia",
			"Suriname",
			"Sao Tome and Principe",
			"Union of Soviet Socialist Republics",
			"El Salvador",
			"Syria",
			"Swaziland",
			"Turks and Caicos Islands",
			"Chad",
			"French Southern Territories",
			"Togo",
			"Thailand",
			"Tajikistan",
			"Tokelau",
			"East Timor",
			"Turkmenistan",
			"Tunisia",
			"Tonga",
			"Turkey",
			"Trinidad and Tobago",
			"Tuvalu",
			"Taiwan",
			"Tanzania",
			"Ukraine",
			"Uganda",
			"United States Minor Outlying Islands",
			"United States",
			"Uruguay",
			"Uzbekistan",
			"Vatican",
			"Saint Vincent and the Grenadines",
			"North Vietnam",
			"Venezuela",
			"British Virgin Islands",
			"U.S. Virgin Islands",
			"Vietnam",
			"Vanuatu",
			"Wallis and Futuna",
			"Wake Island",
			"Samoa",
			"People's Democratic Republic of Yemen",
			"Yemen",
			"Mayotte",
			"South Africa",
			"Zambia",
			"Zimbabwe"], {:include_blank => '---------------Select Country---------------'}, class: 'form-control', :required => true%>
    </div>
    <div class="form-group">
      <%= f.label :contact_number %>
      <%= f.text_field :contact_number, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %><i><font color="red">*</font></i>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %><i><font color="red">*</font></i>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <div class="form-group">
          <%= check_box_tag 'terms',1,false,:onclick=>'handleClick(this);' %>
          I have read and accept the terms of the TDBA's&nbsp;<%= link_to 'Membership Agreement', page_path('membership-agreement') %>
    </div>
    <%= f.submit 'Sign up', :class => 'button right', :id => "button" %>
  <% end %>
</div>
<script>
  // button start off as disabled
  document.getElementById("button").disabled=true;
  function handleClick()
  {
   if(document.getElementById('terms').checked)
    document.getElementById("button").disabled=false;
   else
    document.getElementById("button").disabled=true;
  }
</script>
