<%# add navigation links to this file %>

         <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<b class="caret"></b></a>
             <ul class="dropdown-menu">
                 <li>
                     <%= link_to 'About TDBA', page_path('about-tdba') %>
                 </li>
                 <li>
                     <%= link_to 'Mission and Vision', page_path('mission-vision') %>
                 </li>
                 <li>
                     <%= link_to 'The Board and Committees', page_path('board-committees') %>
                 </li>
                 <li>
                     <%= link_to 'Transparency', page_path('transparency') %>
                 </li>
                 <li>
                     <%= link_to 'Regulation', page_path('regulation') %>
                 </li>
             </ul>
         </li>
         <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Membership<b class="caret"></b></a>
             <ul class="dropdown-menu">
                 <li>
                     <%= link_to 'Current Members', page_path('members') %>
                 </li>
                 <% if user_signed_in? %>
                 <% else %>
                   <li><%= link_to 'Sign up', new_user_registration_path %></li>
                 <% end %>
             </ul>
         </li>
         <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media &#38; Speaker<b class="caret"></b></a>
             <ul class="dropdown-menu">
                 <li>
                     <%= link_to 'Media Partners', page_path('media-partners') %>
                 </li>
                 <li>
                     <%= link_to 'Digital Currency Speakers Council', page_path('Digital-Currency-Speakers-Council') %>
                 </li>
             </ul>
         </li>
         <li>
             <%= link_to 'Learn More', page_path('learn-more') %>
         </li>
         <li>
             <%= link_to 'Contribute', page_path('contribute') %>
         </li>
         <li>
             <%= link_to 'Contact Us', page_path('contact') %>
         </li>
         <li>
             <h4>|</h4>
         </li>
        <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">&#38; <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to '1 Column Portfolio', page_path('portfolio-1-col') %>
                </li>
                <li>
                    <%= link_to '2 Column Portfolio', page_path('portfolio-2-col') %>
                </li>
                <li>
                    <%= link_to '3 Column Portfolio', page_path('portfolio-3-col') %>
                </li>
                <li>
                    <%= link_to '4 Column Portfolio', page_path('portfolio-4-col') %>
                </li>
                <li>
                    <%= link_to 'Single Portfolio Item', page_path('portfolio-item') %>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to 'Blog Home 1', page_path('blog-home-1') %>
                </li>
                <li>
                    <%= link_to 'Blog Home 2', page_path('blog-home-2') %>
                </li>
                <li>
                    <%= link_to 'Blog Post', page_path('blog-post') %>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to 'Full Width Page', page_path('full-width') %>
                </li>
                <li>
                    <%= link_to 'Sidebar Page', page_path('sidebar') %>
                </li>
                <li>
                    <%= link_to 'FAQ', page_path('faq') %>
                </li>
                <li>
                    <%= link_to '404', page_path('404') %>
                </li>
                <li>
                    <%= link_to 'Pricing Table', page_path('pricing') %>
                </li>
            </ul>
        </li> -->
