<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to ('Sign out'), destroy_user_session_path, :method=>'delete' %></li>
  <li class="dropdown">
    <%
    result = User.find(1);

    %>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=  %><b class="caret"></b></a>
      <ul class="dropdown-menu">
          <li>
              <%= link_to 'Current Members', page_path('members') %>
          </li>
          <% if user_signed_in? %>
          <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>
      </ul>
  </li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <!-- <li><%= link_to 'Users', users_path %></li> -->
<% end %>
